In [ ]:
a=5
print(a)
a=6
print(a)

5
6

In [ ]:
horas="x"
pago_por_hora="y"
#sueldo=pago_por_hora*horas
#concatenar: sumar texto
sueldo=horas+"*"+"y"
# multiplicar texto
muchas_x=50*"x"
print(muchas_x)

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [ ]:
x=5
x=x+2
print(x)

7

In [ ]:
edad_1=15
edad_2=13
edad_3=20
print(edad_1, edad_2, edad_3)

15 13 20

In [ ]:
#muestra
edades=(15,13,20,25,1,28)
print(edades)
#valor maximo
maximo= max(edades)
print(maximo)

(15, 13, 20, 25, 1, 28)
28

In [ ]:
#muestra
edades=[15,13,20,25,14,28]
#primer elemento
edades[0]

15

In [ ]:
#cursos
curso=("mate","filo","musica","economia","f","g","y","h","h","finanzas")
#ultimo elemento
print(curso[-1])
#el primero, segundo y tercero
curso[0:3]
curso[2:5]

finanzas

('musica', 'economia', 'f')

In [ ]:
#muestra
edades=[15,13,20,25,1,28]
#antes
print(edades[0])
print(edades)
edades[0]=edades[0]*2
print(edades)

15
[15, 13, 20, 25, 1, 28]
[30, 13, 20, 25, 1, 28]

In [ ]:
#muestra
edades=(15,13,20,25,1,28)
#antes
print(edades[0])
print(edades)
edades[0]=edades[0]*2
print(edades)

15
(15, 13, 20, 25, 1, 28)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Reconocer el tipo
type(52.36)

type([1,2,3])

list

In [ ]:
#convertir tipos de datos
numero=float("2.5")
print(numero)
texto=str(52.3)
print(texto)

tupla_1=(1,2,"35",47)
lista_nueva=list(tupla_1)
print(lista_nueva)

2.5
52.3
[1, 2, '35', 47]

In [ ]:
name=input("------Dime tu nombre-------")
edad=input(".......Cual es tu edad-------")
#funci√≥n potencia
print("hola "+name+", tu edad es:"+edad)

------Dime tu nombre-------Abraham
.......Cual es tu edad-------21
hola Abraham, tu edad es:21

In [ ]:
name=input("------Dime tu nombre-------")
edad=input(".......Cual es tu edad-------")
#funci√≥n potencia
print("hola "+name+", tu edad es:"+edad)

------Dime tu nombre-------Jonathan
.......Cual es tu edad-------23
hola Jonathan, tu edad es:23

In [ ]:
#funci√≥n potencia
numero=float(input("cual es tu n√∫mero:"))
exponente=float(input("cual es el exponente:"))
resultado=numero**exponente
print("La respuesta es", resultado)

cual es tu n√∫mero:9
cual es el exponente:0.5
La respuesta es 3.0