In [ ]:
print("el amor es el moto del mundo")

el amor es el moto del mundo

In [ ]:
print(nombre)

kevin

In [ ]:
carrera="economia"

In [ ]:
#fórmula de la gratificación
remuneración=1200
computable= 6
laborado= 4
#porcentaje de sueldo=(9/100*1200)
porc=9
num=1200
result= porc*num/100
total=remuneración/computable*laborado+result
print(total)
print("la gratificación total será", total)

908.0
la gratificación total será 908.0

In [ ]:
laborado=6
computable=4
total=laborado+computable
print(total)
print(9/100*1200)

10
108.0

In [ ]:
print("basico")
print("1 + 1 =", 1 + 1)
print("2 + 4 =", 2 + 4)
print("5 - 2 =", 5 - 2)
print()
print("medio")
print("243 - 23 =", 243 - 23)
print("12 * 4 =", 12 * 4)
print("12 / 3 =", 12 / 3)
print("13 / 3 =", 13 // 3, "R", 13 % 3)
print()
print("avanzado")
print("123.56 - 62.12 =", 123.56 - 62.12)
print("(4 + 3) * 2 =", (4 + 3) * 2)
print("4 + 3 * 2 =", 4 + 3 * 2)
print("3 ** 2 =", 3 ** 2)

basico
1 + 1 = 2
2 + 4 = 6
5 - 2 = 3

medio
243 - 23 = 220
12 * 4 = 48
12 / 3 = 4.0
13 / 3 = 4 R 1

avanzado
123.56 - 62.12 = 61.440000000000005
(4 + 3) * 2 = 14
4 + 3 * 2 = 10
3 ** 2 = 9

In [ ]:
x=6
x=x+2
print(x)

8

In [ ]:
notas=(10,11,13,15,17)

In [ ]:
pais=input("...... el pais_que_quiero conocer......")
cuando=input("......_voy_a_conocerlo en......")
#funcion potencia
print("hola Kevin vas a conocer "+pais+", en:"+cuando)

...... el pais_que_quiero conocer......China
......_voy_a_conocerlo en......cinco años
hola Kevin vas a conocer China, en:cinco años

In [ ]:
a=281759
print(a)

281759

In [ ]:
sueldo=5000
mensualidad_de_la_casa=1200
pago=1700
ahorro=sueldo-mensualidad_de_la_casa-pago
print(ahorro)

2100

In [ ]:
#concatenación de lista
x=[1,2]
y=[5,9]
x+y
x=[1,3]
y=[5,9]
x+y

[1, 3, 5, 9]

In [ ]:
#concatenación de lista
x=[1,2]
y=[5,9]
x+y
x=[1,3]
y=[5,9]
x+y

In [ ]:
#concatenación de lista
x=(1,2)
y=(5,9)
x+y
x=(1,4)
y=(5,9)
x+y

(1, 4, 5, 9)

In [ ]:
nombre="x"
pago_por_horas="y"
sueldo=nombre*pago_por_horas
print(sueldo)
#no funciona, porque no lee texto

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
horas="x"
pago_por_horas="y"
#concatenar texto
sueldo=horas+"*"+"y"
print(sueldo)

x*y

In [ ]:
horas="x"
pago_por_horas="y"
#multiplicar texto varias veces
muchas_y=10*"y"
print(muchas_y)

yyyyyyyyyy

In [ ]:
x=5
x=x+1
print(x)

6

In [ ]:
y=5
y=y+1
print(x)

6

In [ ]:
pago_por_horas=
horas=

In [ ]:
edad1=10
edad2=12
edad3=14
print(edad1,edad2,edad3)

10 12 14

In [ ]:
edades=(10,12,14)
doble_edades=2*edades
print(doble_edades)
print(edades)
#valor maximo
maximo=max(edades)
print(maximo)

(10, 12, 14, 10, 12, 14)
(10, 12, 14)
14

In [ ]:
#sacar el valor de tuplas y listas
edades=(10,12,14)
edades[2]
edades=[17,16,14]
edades[0]

17

In [ ]:
cursos=("a","b","c","d","e","f","g","h")
#el primero, segundo y tercero
cursos[0:3]

'd'

In [ ]:
rutinas=(20,30,50,30,15,25)
print(rutinas[0])
print(rutinas)
rutinas[0]=21
print(rutinas)

20
(20, 30, 50, 30, 15, 25)

TypeError: 'tuple' object does not support item assignment

In [ ]:
rutinas=[20,30,50,30,15,25]
print(rutinas[0])
print(rutinas)
rutinas[0]=21
print(rutinas)
rutinas[0]=rutinas[0]*2
print(rutinas)

20
[20, 30, 50, 30, 15, 25]
[21, 30, 50, 30, 15, 25]
[42, 30, 50, 30, 15, 25]

In [ ]:
type(8)

int

In [ ]:
name=input(".....tu apellido es.....")
edad=input("..........tu edad es......")
#función potencia
print("hola "+name+",tu edad es "+edad)

.....tu apellido es.....jaimito el cartero
..........tu edad es......24
hola jaimito el cartero,tu edad es 24

In [ ]:
name=input("mi nombre es")
hobbies=input("mis hobbies son")
signo_del_zodiaco=input("mi signo del zodiaco es")
mi_meta_en_2024=input("mi meta en este 2024 es")
frase_favorita_de_Dombledore=input("mis frase favorita de Dombledore es")
frase_favorita_de_Gandalf=input("mis frase favorita de Gandalf es")
#función potencia
print("hola "+name+", mis hobbies son "+hobbies+", mi signo del zodiaco es "+signo_del_zodiaco+", y mi meta en este 2024 es"+mi_meta_en_2024+", mi frase favorita de Dombledore"+frase_favorita_de_Dombledore+",2 mi frase favorita de Gandalf es"+frase_favorita_de_Gandalf)

mi nombre es Kevin
mis hobbies son ver documentales, escuchar historias de terror, leer y jugar
mi signo del zodiaco es acuario
mi meta en este 2024 es encontrar chamba
mis frase favorita de Dombledore es Igual que tu madre desbordas gentileza, un rasgo que las personas siempre subestiman me temo
mis frase favorita de Gandalf es Como quisiera que nada hubiese sucedido. Igual que todos los que viven eventos dificiles, pero ellos no lo pueden decidir. La unica decision posible es decidir que hacer con el tiempo que tenemos
hola  Kevin, mis hobbies son  ver documentales, escuchar historias de terror, leer y jugar, mi signo del zodiaco es  acuario, y mi meta en este 2024 es encontrar chamba, mi frase favorita de Dombledore Igual que tu madre desbordas gentileza, un rasgo que las personas siempre subestiman me temo,2 mi frase favorita de Gandalf es Como quisiera que nada hubiese sucedido. Igual que todos los que viven eventos dificiles, pero ellos no lo pueden decidir. La unica decision posible es decidir que hacer con el tiempo que tenemos